{% extends 'base.html.twig' %}

{% block title %} {{ action }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper { background: yellow; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> {{ controller_name }} </h1>
    <h2> {{ action }}</h2>

    <ul>
        <li>0</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>61</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
    </ul>
</div>
{% endblock %}
