{% extends 'base.html.twig' %}

{% block title %} LOGIN {% endblock %}

{% block body %}
    <h1>LOGIN</h1>

    <p style="background: antiquewhite;width:75%;">
        <label for="result"></label>
        <textarea id="result" rows="7" style="position: relative; margin: 0 auto; width: 100%"></textarea>
    </p>
    <h4 class="h3 mb-3 font-weight-normal">Ldap Sign In</h4>
    <form id="app_login_form" enctype="multipart/form-data">
        <label for="username">Username:</label><br />
        <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            autocomplete="username"
            required
    /><br />
        <label for="password">Password:  </label><br />
        <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            autocomplete="off"
            required
            autofocus
        /><br />

        <button id="sendBtn" class="btn btn-lg btn-primary" type="submit">Sign in Ldap</button>
    </form>

    <p><small>1DayInYourLife</small></p>


    <script>
        $(document).ready(function () {
            $('#sendBtn').on('click', function (event) {
                event.stopPropagation();
                event.preventDefault();
                let usernameVal = $('#username').val();
                let passwordVal = $('#password').val();
                const data = { "username": usernameVal,  "password": passwordVal };
                console.log(data)
                $.ajax({
                    url: '/api/auth/login',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (data) {
                        const resp = data.token
                        console.log(resp);
                        $('#result').text(resp);
                        // alert(resp)
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.log(xhr);
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                })

            return false;
            });
        });
    </script>
{% endblock %}
